bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
.env

# Release and Build
release/
build/

# Project specific caches and configs
config.json
errors.json
*-music-data.json
temp-*.ts

# Wails / JS
node_modules/
dist/
cmd/gui/frontend/node_modules/
cmd/gui/frontend/dist/
cmd/gui/build/bin/

# Tracks
music/
*.mp3